*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Josefin Sans", sans-serif;
}

#desktop {
  display: none;
}

@media (min-width: 1000px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: inline-block;
  }
}

button {
  border: none;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 1000px) {
  body,
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body section,
  html section {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
  }
  body #desktop,
  html #desktop {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 100vh;
  }
  body #desktop img,
  html #desktop img {
    -o-object-fit: none;
       object-fit: none;
  }
}

section {
  min-width: 375px;
}

@media (min-width: 1000px) {
  section {
    background: url(../images/bg-pattern-desktop.svg) no-repeat center;
    background-size: cover;
  }
}

#logo {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#hero {
  width: 100%;
}

#hero img {
  width: 100%;
}

#main {
  text-align: center;
  width: 80%;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 500px;
}

#main header {
  font-size: 2rem;
  width: 400px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

#main header h1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  color: #413a3a;
}

#main header h1 span {
  color: #ec4b4b;
  font-weight: 300;
  opacity: 0.4;
}

#main p {
  color: #413a3a;
  opacity: 0.4;
  line-height: 1.75rem;
  margin: 2rem 0;
  font-weight: 400;
}

#main #form {
  width: 100%;
  position: relative;
  height: 60px;
  margin-bottom: 1rem;
}

#main #form input {
  height: 100%;
  width: 100%;
  padding: 2rem;
  border: 1px solid #413a3a;
  color: #413a3a;
  border-radius: 50px;
  outline: none;
  font-size: 1rem;
  opacity: 0.5;
}

#main #form #arrow {
  width: 20%;
  height: calc(100% + 0.5rem);
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 0;
  top: 0px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px 0 rgba(194, 140, 140, 0.4);
          box-shadow: 0px 10px 20px 0 rgba(194, 140, 140, 0.4);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#main #form #arrow::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(194, 140, 140, 0.6);
          box-shadow: 0 5px 15px 0 rgba(194, 140, 140, 0.6);
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#main #form #arrow:active {
  background: linear-gradient(135deg, #fbe4e4, #f4b8b8);
}

#main #form #arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main #form #arrow:hover::before {
  opacity: 1;
}

#main #form #error {
  display: none;
}

@media (min-width: 1000px) {
  #main {
    text-align: left;
  }
  #main header {
    margin: 0;
    font-size: 3rem;
  }
  #main p {
    text-align: left;
    font-size: 1.1rem;
  }
}

#form.invalid input {
  outline: #f96262;
  position: relative;
}

#form.invalid #error {
  display: inline-block !important;
  position: absolute;
  right: 23%;
  top: 29%;
}
/*# sourceMappingURL=main.css.map */